body {
	background-color: white;
}



/*HEADER*/

header {
	display: flex;
	

	width: 100%;
	height: 300px;
	border: solid black 2px;
}

header .photo_id {
	display: flex;
	border: solid red 2px;
	margin: 0;
	width: 350px;
	height: 100%;
	text-align: center;
}

.photo_id img {
	margin: auto;
	border: 1px solid #AF4034;
	border-radius: 8px;
	box-shadow: 3px 3px 3px #AF4034;
}

header .name {
	border: solid blue 2px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

h1, h2 {
	border: solid pink 2px;
	margin:5px;
	padding: 0;
	
}

h1 {
	color: #AF4034;
	font-weight: bold;
	font-size: 5em;
}

h2 {
	color: #881600;
	font-weight: bold;
	font-size: 3em;
}




/*CORPS DE PAGE*/

.content {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: auto;

	padding: 0;
	margin: 0;
}

.lateral-block {
	width: 250px;
	margin: 0;
	padding: 20px;
	

	border: solid orange 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dl-button {
	text-decoration: none;
	text-align: center;
	border: solid black 2px;
	border-radius: 8px;

	width: auto;
	padding: 8px;

	background-color: #881600;
}

.dl-button a{
	text-decoration: inherit;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
}


.lateral-block li {
	list-style: none;
	line-height: 2em;
	background-color: ;
	color: #754F44;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}
.under-block a {
	color: inherit;
}

.lateral-block ul {
	padding: 10px;
	margin: 0;
}

.lateral-block > div:not(.dl-button) {
	border: solid 2px red;
	padding:0;
	margin: 30px auto;
}




.prebody-block {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.body-block > *  {
	display: flex;
	flex-direction: column;
	border: solid pink 2px;
}
.body-block h3 {
	text-align: center;
	width: auto;
	margin: 0 auto;
	padding: 20px;

	font-size: 2.5em;
}

.prebody-block>:first-child {
	border: solid black 2px;
}

.body-block > div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;


}

.abilities {
	border: solid black 1px;
	width: 200px;
	height: 200px;
	text-align: center;
	padding: 5px 10px;
	line-height: 1.4;	
}

.abilities h4 {
	margin: 18px 15px;
	font-size: 1.4em;
}


