html > body {
	max-width: 1200px;
	margin: 10px auto;
}

/*ul > li {
	list-style-type: none;
}*/

ul {
	margin: 0;
	padding: 0;
}

/* Cartes compétences */
.ui.wide.cards > .ui.card {
	padding: 1.5em;
}

.ui.wide.cards .contenu {
	text-align: justify;

}