html > body {
	max-width: 1200px;
	margin: 10px auto;
}

ul {
	margin: 0;
	padding: 0;
}


/* Cartes compétences */
.ui.wide.cards > .ui.card {
	padding: 1.5em;
	line-height: 1.5em;
}

.ui.wide.cards .contenu {
	text-align: justify;
}

.ui.card.skills {
	
}

.ui.card .content.title {
	max-height: 25%;
}

/* Barre Verticale */

.ui.four.wide.segments a {
	color: #16AB39;
}